<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Clave1" value="Valor1" />
        <add key="Clave2" value="Valor2" />
        <!-- Agrega más claves y valores según tus necesidades -->
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
    </system.web>
    
    <system.webServer>
        <modules>
            <!-- Puedes agregar módulos personalizados aquí si es necesario -->
        </modules>
        <handlers>
            <!-- Puedes configurar controladores de manejo aquí si es necesario -->
        </handlers>
    </system.webServer>
</configuration>
